.btn {
  @apply inline-flex items-center justify-between pl-[21px] pr-[21px] xl:pl-[27px] xl:pr-[22px] 2xl:pl-[37px] 2xl:pr-[33px] pt-5 lg:pt-6 pb-5 lg:pb-6 rounded-full;

  span {
    @apply fluid-text-base;
  }

  img,
  svg {
    @apply ml-6 lg:ml-9;
  }

  &--dark {
    @apply dark:bg-dark hover:scale-[103%] dark:hover:bg-red   transition-all;
  }

  &--red {
    @apply dark:bg-red hover:scale-[103%] transition-all;
  }
}
