.popup__close {
  @apply bg-dark w-[48px] h-[48px] rounded-full flex items-center justify-center hover:bg-red transition-all hover:scale-105 absolute top-[12px] right-[12px] cursor-pointer max-lg:-top-[24px];
}

.popup--active {
  display: flex !important;
  @apply transition-all;
  backdrop-filter: blur(20px) !important;
}

.person-popup {
  @apply w-full max-lg:h-screen max-lg:max-h-screen xl:w-[1064px] flex max-lg:flex-col;

  &__wrapper {
    @apply w-screen h-screen fixed top-0 left-0 z-[999] hidden items-center justify-center transition-all;
    backdrop-filter: blur(0px);
  }
  &__content {
    @apply bg-darkMain py-[48px] px-[33px] relative flex flex-col items-start xl:justify-between rounded-tr-lg rounded-br-lg max-lg:h-[70vh];
  }

  &__photo {
    @apply max-lg:h-[30vh] xl:min-w-[466px] xl:min-h-[712px] bg-cover bg-no-repeat bg-center rounded-tl-lg rounded-bl-lg;
  }
}
