.top-bar {
  @apply h-[60px] lg:h-[128px] flex justify-between dark:text-light;
  @apply dark:bg-gradient-to-r dark:from-[#1e1e1e] dark:to-[#262626] translate-y-[0%] transition-all;

  &--hidden {
    @apply translate-y-[-100%] transition-all;
  }

  &--visible {
    @apply translate-y-[0%] transition-all;
  }

  &--transparent {
    background-color: transparent;
    background-image: unset !important;
  }
}

.desktop-menu {
  .submenu {
    @apply dark:text-light flex flex-col gap-[1px] min-w-[165px];

    li {
      @apply text-[16px]  dark:bg-dark  flex items-center  dark:hover:bg-red transition-all;
      &:hover {
        &::before {
          content: '';
          @apply hidden;
        }
      }

      a {
        @apply block w-full pt-2 pb-2 pl-3 pr-3;
      }
    }
  }

  ul {
    @apply border-b-[2px] border-b-dark;
    // lg:gap-[8px] xl:gap-[38px] 2xl:gap-[68px]
  }
  li {
    @apply relative whitespace-nowrap;
    &::before {
      content: '';
      @apply block w-0 h-[2px] bg-[transparent] absolute left-0 -bottom-[2px] transition-all;
    }
    &:hover {
      &::before {
        content: '';
        @apply block w-full h-[2px] bg-red absolute left-0 -bottom-[2px] transition-all;
      }
      &::after {
        @apply relative -top-1 transition-all;
        content: '';
      }
    }
    &::after {
      content: '';
      @apply ml-3 transition-all relative top-0;
    }
  }

  .has-submenu {
    &:hover {
      &::after {
        @apply relative -top-1 transition-all;
      }
    }
    &::after {
      content: url('dropdown.svg') !important;
      @apply ml-3 transition-all relative top-0;
    }
  }

  li {
    @apply h-full flex items-center transition-all;
  }
}

.on-scroll-down {
  @apply translate-y-[-100%] transition-all;
}

.on-scroll-up {
  @apply translate-y-[0%] transition-all;
}
