.top-bar {
  @apply h-[60px] lg:h-[128px] flex justify-between dark:text-light;
  @apply dark:bg-gradient-to-r dark:from-[#1e1e1e] dark:to-[#262626];
}

.desktop-menu {
  ul {
    @apply border-b-[2px] border-b-dark;
    // lg:gap-[8px] xl:gap-[38px] 2xl:gap-[68px]
  }
  li {
    @apply relative whitespace-nowrap;
    &::before {
      content: '';
      @apply block w-0 h-[2px] bg-[transparent] absolute left-0 -bottom-[2px] transition-all;
    }
    &:hover {
      &::before {
        content: '';
        @apply block w-full h-[2px] bg-red absolute left-0 -bottom-[2px] transition-all;
      }
      &::after {
        @apply relative -top-1 transition-all;
        content: '';
      }
    }
    &::after {
      content: '';
      @apply ml-3 transition-all relative top-0;
    }
  }

  .has-submenu {
    &:hover {
      &::after {
        @apply relative -top-1 transition-all;
      }
    }
    &::after {
      content: url('dropdown.svg') !important;
      @apply ml-3 transition-all relative top-0;
    }
  }

  li {
    @apply h-full flex items-center transition-all;
  }
}
