/*
*
* ========================================================
* HOMEPAGE GRID
* ========================================================
* offer title + buttons grid switcher mobile / desktop
* section.service-grid-container on homepage
*
*
*
*/

.service-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'label'
    'title'
    'excerpt'
    'buttons';

  @media (min-width: 1280px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'title label'
      'buttons excerpt';
    grid-column-gap: 60px;
  }
}

.grid__title {
  grid-area: title;
}

.grid__buttons {
  grid-area: buttons;
}
.grid__label {
  grid-area: label;
}

.grid__excerpt {
  grid-area: excerpt;
}

/*
*
* ========================================================
* ASIDE OFFSET
* ========================================================
*  fix: after change swiper slider elements has to be backdropped by aside width opacity visible
*
*/

.aside-offset__padding {
  @apply xl:pl-[180px] 2xl:pl-[240px] lg:pl-[28px];
}

.aside-offset__margin {
  @apply max-w-[1440px] xl:ml-[180px] 2xl:ml-[240px] max-xl:pl-5 max-xl:pr-5;
}

.aside {
  @apply bg-opacity-90;
}

/*
*
* ========================================================
* HOME CTA
* ========================================================
* 
*
*/

// .home-cta {
//   @media (max-width: 1280px) {
//     display: grid;
//     grid-template-columns: 1fr;
//     grid-template-rows: repeat(4, 1fr);
//     grid-template-areas:
//       'title'
//       'photo'
//       'text'
//       'buttons';

//     &__title {
//       grid-area: title;
//     }

//     &___photo {
//       grid-area: photo;
//     }

//     &__buttons {
//       grid-area: buttons;
//     }

//     &__text {
//       grid-area: text;
//     }
//   }
// }

// landing page grid first section

/*
*
* ========================================================
* Landing hero / first section
* ========================================================
* 
*
*/

.landing-hero {
  @apply grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'label'
    'title'
    'subtitle'
    'buttons';

  &__photo {
    grid-area: photo;
  }

  &___label {
    grid-area: label;
  }

  &__title {
    grid-area: title;
  }

  &__subtitle {
    grid-area: subtitle;
  }

  &__buttons {
    grid-area: buttons;
  }

  @media (min-width: 1024px) {
    grid-template-columns: 45% auto;
    grid-template-rows: max-content max-content max-content 1fr;
    grid-template-areas:
      'photo title'
      'photo buttons'
      'photo label'
      'photo subtitle';
  }

  @media (min-width: 1280) {
    grid-template-columns: 1fr max-content;
  }
}
