/*
*
* ========================================================
* HOMEPAGE GRID
* ========================================================
* offer title + buttons grid switcher mobile / desktop
* section.service-grid-container on homepage
*
*
*
*/

.service-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'label'
    'title'
    'excerpt'
    'buttons';

  @media (min-width: 1280px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'title label'
      'buttons excerpt';
    grid-column-gap: 60px;
  }
}

.grid__title {
  grid-area: title;
}

.grid__buttons {
  grid-area: buttons;
}
.grid__label {
  grid-area: label;
}

.grid__excerpt {
  grid-area: excerpt;
}

/*
*
* ========================================================
* ASIDE OFFSET
* ========================================================
*  fix: after change swiper slider elements has to be backdropped by aside width opacity visible
*
*/

.aside-offset__padding {
  @apply xl:pl-[180px] 2xl:pl-[240px] lg:pl-[28px];
}

.aside-offset__margin {
  @apply xl:ml-[180px] 2xl:ml-[240px] lg:ml-[28px];
}

.aside {
  @apply bg-opacity-90;
}
